<!-- automated page data, if no front matter data for page, use the global meta data -->
{%- set pageTitle %}{% if title %} {{title}} {% else %} {{ meta.title }} {% endif %}{% endset -%}
{%- set pageDescription %}{% if description %} {{ description }} {% else %} {{ meta.description }} {% endif %}{% endset -%}
{%- set pageKeywords %}{% if keywords %} {{meta.keywords + ', ' + keywords}} {% else %} {{meta.keywords}} {% endif %}{% endset -%}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="description" content="{{ pageDescription }}">
  <meta name="keywords" content="{{ pageKeywords }}">
  <meta name="author" content="{{ meta.author }}">
  <title>{{ pageTitle }}</title>
  
</head>