---
title: "404: Page Not Found"
description: "It looks like the page does not exist"
defualt: false
---

<!DOCTYPE html>
<html lang="{{ lang }}">
<!-- include head -->
{% include "partials/head.njk" %}
<body>
  <!-- use pageShowcase for 404 page -->
  {% include "partials/pageShowcase.njk" %}

</body>
</html>